

body {
   
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / auto 1fr auto
}


header {
    background: silver;
    padding: 2rem;
    grid-column: 1 / 4;
    color: whitesmoke;
}

.left-sidebar {
    background: black;
    grid-column: 1 / 2;
    color: whitesmoke;

}

main {
    background: black;
    grid-column: 2 / 2;
    color: whitesmoke;
}
.Courses{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);

}
.cards {
  

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(11, 11, 11);
    padding: 1rem;
}
.homeImages{

    display: flex;
    flex-direction: row;
    justify-content: center;
 
    background: rgb(11, 11, 11);
    padding: 1rem;

}
.headingLinks{

    display: flex;
    flex-direction: row;
    justify-content: center;
 
    background: rgb(11, 11, 11);
    padding: 1rem;

}

footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
}

body {
    font-family: system-ui, sans-serif;
}

.left-sidebar,
.right-sidebar {
    padding: 1rem;
}

.members{
    border: 1px solid rgb(242, 231, 231);
    width: 300px;
    min-height: 68px;
    padding: 10px;
    display: flex;
    line-height: 18px;
    margin-bottom: 10px;
}