{% extends "base.html" %}
{% block content %}

<main class =homeImages>

</li>
    <a href=/members>
    <img src="static/images/mem.jpg" alt="Woman squating bar"  width="300" height="200">
    <h4 class ="headingLinks">Members</h4>
    <a href=/Courses>
    <img src="static/images/gym.jpg" alt="squat cage" width="300" height="200">
    <h4 class ="headingLinks">courses</h4>
    <a href=/bookings>
    <img src="static/images/course.jpg" alt="room with gym equipment" width="300" height="200">
    <h4 class ="headingLinks">Bookings</h4>
</main>
{% endblock %}